.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #ebebeb;
}

.message-list {
  padding: 30px 15px 0 25px;
  width: 60%;
  min-height: 200px;
  overflow: auto;
  margin: 0 auto 0 auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.message-item {
  overflow: hidden; 
  margin: 26px auto;
  display: block;
  padding: 0;
  width: 60%;
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 5px;
  font-family: Gill Sans, sans-serif;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
.message-item h2,
.message-item input {
  border-radius: 5px;
  background-color: #142c96;
  color: #ebebeb;
  text-align: left;
  font-size: 14px;
  margin-top: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
  word-wrap: break-word;
  box-sizing: border-box;
}

.message-item input {
  border: none;
  outline: none;
}

.message-item input::-webkit-input-placeholder {
  color: #ebebeb;
}

.body-wrapper{
  box-sizing: border-box;
  margin: 20px;
}

.reaction {
  text-align: left;
  color: rgb(70, 70, 70);
}

.reply-list {
  text-align: right;
  padding: 20px;
}

.reply {
  background-color: #4760cf;
  color: white;;
  border-radius: 5px;
  width: 50%;
  margin-left: 50%;
  padding-right: 12px;
}

svg {
  width: 12px
}

.id {
  display: block;
  font-style: italic;
  color: rgb(92, 127, 202);
  margin-left: 90%;
  padding: 2px;
}

.reply .id {
  color: rgb(130, 162, 230);
  margin: 0;
  margin-right: 80%;
}

.filter {
  width: 100%;
  box-sizing: border-box;
  outline: none;
  margin-top: 20px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  font-size: 14px;
  padding-left: 10px;
}

.load-more {
  width: 100%;
  float: left;
}
