.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.message-list {
  padding: 30px 15px 0 25px;
  width: 60%;
  height: 450px;
  overflow-y: auto;
  margin: 0 auto 0 auto;
  border: 1px solid gray;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.message-item {
  overflow:hidden; 
  margin:26px 0 26px;
  display: block;
  padding: 0;
  width: 60%;
  float: left;
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 5px;
  font-family: Gill Sans, sans-serif;
}
.message-item h2 {
  border-radius: 5px;
  background-color: #142c96;
  color: #ebebeb;
  text-align: left;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
  word-wrap: break-word;
  box-sizing: border-box;
}

.body-wrapper{
  box-sizing: border-box;
  margin: 20px;
}

.reaction {
  text-align: left;
  color: rgb(70, 70, 70);
}

.reply-list {
  text-align: right;
  padding: 20px;
}

.reply {
  background-color: #4760cf;
  color: white;;
  border-radius: 5px;
  width: 50%;
  margin-left: 50%;
  padding-right: 12px;
}

svg {
  width: 12px
}
